<div>
    <p>You can select tabs directly from component</p>
    <p>
      <!-- <button type="button" class="btn btn-primary btn-sm" (click)="selectTab(1)">‘NEW’</button>
      <button type="button" class="btn btn-primary btn-sm" (click)="selectTab(2)">’OPEN’</button>
      <button type="button" class="btn btn-primary btn-sm" (click)="selectTab(3)">’CLOSE’</button> -->
    </p>
    <hr/>
    <tabset #staticTabs>
      <tab heading="Static Title 0" id="one">Static content 1</tab>
      <tab heading="Static Title 1"  id="two">Static content 2</tab>
      <tab heading="Static Title 2"  id="three">Static content 3</tab>
    </tabset>
  </div>
