
<div class="card col-6 mt-5 p-5">
    <form  [formGroup]="form">
        <div class="">
             <label for="foodName"></label>
            <input type="text" id="foodName" class="form-control" formControlName="name" placeholder="enter food name">
            <div class="text-danger">
                <ng-container *ngFor="let erMSG of erroMSG.name ">
                    <ng-container *ngIf="name?.hasError(erMSG.type) && (name?.dirty || name?.touched)">
                        {{erMSG.message}}
                    </ng-container>
                </ng-container>
            </div>
        </div>
       

        <div class="d-flex justify-content-end">
            <button class="btn btn-success mt-3 " (click)="addFood()">add food</button>
        </div>
        
    </form>
<app-child [data]="foodArr"></app-child>
    
</div>