/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";


.eye-abs{
    position: relative;
    .eye-icon{
        position: absolute;
        top: 8px;
        right: 24px;

    }
}